{% load static %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Kiralık Evler</h2>

                    {% for rs in randhouse %}
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="{{ rs.image.url }}" style="width: 300px; height: 200px; align-content: center" alt="">
                                        <h2>{{ rs.price }}TL</h2>
                                        <p>{{ rs.title }}</p>
                                        <a href="/house/{{ rs.id }}/{{ rs.slug }}"
                                           class="btn btn-default add-to-cart">Detaylar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div><!--features_items-->


                <div><!--recommended_items-->
                    <h2 class="title text-center">Yeni İlanlar</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item">

                                {% for rs in lasthouseSecond %}
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="{{ rs.image.url }}" style="width: 268px; height: 134px; align-content: center" alt="">
                                                <h2>{{rs.price}}TL</h2>
                                                <p>{{ rs.title}}</p>
                                                <a href="/house/{{ rs.id }}/{{ rs.slug }}" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>Detaylar</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            <div class="item active">
                                {% for rs in lasthouseFirst %}
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="{{ rs.image.url }}" style="width: 200px; height: 150px; align-content: center" alt="">
                                                <h2>{{rs.price}}TL</h2>
                                                <p>{{ rs.title}}</p>
                                                <a href="/house/{{ rs.id }}/{{ rs.slug }}" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>Detaylar</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/recommended_items-->

            </div>
        </div>
    </div>
</section>