{% extends "homebase.html" %}
{% block title %}{{ setting.company }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}
{% block keywords %} {{ setting.keywords }}{% endblock %}
{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href='{{ setting.icon.url }}'>
{% endblock %}

{% block sidebar %}
{% endblock %}
{% block slider %}
{% endblock %}
{% block body %}
<div id="contact-page" class="container">
    	<div class="bg">
            {{ setting.references|safe }}
    	</div>
    </div>
{% endblock %}
