{% load static %}
<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Category</h2>

        <div class="panel-group category-products"><!--category-productsr-->

            {% load mptt_tags %}
            {% recursetree category %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a {% if not node.is_leaf_node %}data-toggle="collapse" href="#sportswear"
                               {% else %}href="/category/{{ node.id }}/{{ node.slug }}"{% endif %}
                               data-parent="#accordian">
                                {% if not node.is_leaf_node %}
                                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>{% endif %}
                                {{ node.title }}
                            </a>
                        </h4>
                    </div>

                    {% if not node.is_leaf_node %}
                        <div id="sportswear" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="children">
                                    <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ children }} </a></li>
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                </div>
            {% endrecursetree %}

        </div><!--/category-products-->

    </div>
</div>