{% load static %}
<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class=""></li>
                        <li data-target="#slider-carousel" data-slide-to="1" class=""></li>
                        <li data-target="#slider-carousel" data-slide-to="2" class=""></li>
                    </ol>

                    <div class="carousel-inner">
                        {% for rs in sliderdata %}
                            <div class="item {% if forloop.first %} active{% endif %}">
                                <div class="col-sm-4">
                                    <h2>{{ rs.title }}</h2>
                                    <p>{{ rs.address}} </p>
                                    <a href="/house/{{ rs.id }}/{{ rs.slug }}"  class="btn btn-default get">Get it now</a>
                                </div>
                                <div class="col-sm-8">
                                    <img src="{{ rs.image.url }}" style="width:600px; height:400px" class="girl img-responsive" alt="">
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>