{% extends "homebase.html" %}
{% block title %}{{ setting.company }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}
{% block keywords %} {{ setting.keywords }}{% endblock %}
{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href='{{ setting.icon.url }}'>
{% endblock %}

{% block sidebar %}
{% endblock %}
{% block slider %}
{% endblock %}
{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <div class="brands_products"><!--brands_products-->
                            <h2>User Panel</h2>
                            {% include "user_panel.html" %}
                        </div><!--/brands_products-->
                    </div>
                </div>
                <section id="cart_items">
                    <div class="col-sm-9 padding-right">

                        <div class="product-details"><!--product-details-->
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-secondary" role="alert">
                                        {{ message | safe }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <form method="POST" style="margin-top:20px;">
                                {% csrf_token %}

                                {% for field in form %}
                                    <p>

                                        {{ field.label_tag }}
                                        {{ field }}
                                        {% if field.help_text %}
                                            <small style="color:grey;">{{ field.help_text }}</small>
                                        {% endif %}
                                        {% for error in field.errors %}
                                            <p style="color: grey;">{{ error }}</p>
                                        {% endfor %}
                                    </p>
                                {% endfor %}
                                <button class="btn btn-lg btn-primary"
                                        style="font-size: 14px;text-align: center;" type="submit">Kaydet
                                </button>
                            </form>

                        </div><!--/product-details-->

                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock %}
