{% extends "homebase.html" %}
{% block title %}{{ setting.company }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}
{% block keywords %} {{ setting.keywords }}{% endblock %}
{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href='{{ setting.icon.url }}'>
{% endblock %}

{% block sidebar %}
{% endblock %}
{% block slider %}
{% endblock %}
{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <div class="brands_products"><!--brands_products-->
                            <h2>User Panel</h2>
                            {% include "user_panel.html" %}
                        </div><!--/brands_products-->
                    </div>
                </div>
                <section id="cart_items">
                    <div class="col-sm-9 padding-right">

                        <div class="product-details"><!--product-details-->
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-secondary" role="alert">
                                        {{ message | safe }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <form method="post" enctype="multipart/form-data" style="overflow: hidden;">
                                {% csrf_token %}
                                {{ form.media }}
                                {{ form.as_p }}
                                <button class="btn btn-lg btn-primary"
                                        style="font-size: 14px;text-align: center;" type="submit">Ekle
                                </button>
                            </form>

                        </div><!--/product-details-->

                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock %}
